body {
  min-height: 100vh;
}

.account_page .inte-AppFooter {
  left: 0;
}

div.DraftEditor-root {
  max-height: 500px;
  /* overflow: auto; */
}

main {
  position: relative;
  padding-bottom: 49px;
  min-height: 100vh;
}

:root {
  --color-lighter: #f5f5f5;
  --color-light: #8e8e8e;
  --color-dark: #444444;
  --color-darker: #0a0a0a;
  --color-darkLow: #707070;
  --color-primary: #413bbc;
}
.p_relative{
  position:relative;
}
/* Landing Page CSS */

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

section {
  padding: 50px 0;
}

.heading--medium {
  font-size: 24px;
  color: var(--color-light);
}

.heading--mediumLow {
  font-size: 18px;
}

.header__section h2 {
  font-weight: 600;
}

.invalid-field {
  color: var(--color-danger);
}

.invalid-field:focus {
  border-color: var(--color-danger);
  box-shadow: 0 0 0 0.2rem rgb(220 53 69 / 25%);
}

.invalid-field ~ .invalid-feedback {
  display: block;
}

/* .floating-label .form-control.focus-visible,
.floating-label .form-control:focus {
  padding-top: 22px;
} */

/*Bootstrap override*/

/*Bootstrap override*/

button.btn {
  border-radius: 15px;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 700;
}

.btn.btn-primary {
  background-color: var(--color-primary);
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.25));
}

/* .btn.btn-primary:hover {
  background-color: var(--color-primary-dark);
} */

.btn-outline-primary {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-outline-primary:hover {
  color: #ffffff;
  background-color: var(--color-primary);
}

.btn.btn-link {
  color: var(--color-primary);
}

/* button.btn {
  border-radius: 15px;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 700;
}
.btn.btn-primary {
  background-color: var(--color-primary);
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.25));
}
.btn-outline-primary {
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.btn.btn-link {
  color: var(--color-primary);
} */

.form-control {
  height: 50px !important;
  border-radius: 25px;
}

.validationIcon {
  position: absolute;
  right: 10px;
  z-index: 1;
  top: 0px;
}

.validationIcon svg {
  width: 30px;
}
/* 
.floating-label .form-control.focus-visible,
.floating-label .form-control:focus {
  padding-top: 22px;
} */

.form-group {
  margin-bottom: 24px;
  position: relative;
}

.floating-label.form-group label {
  position: absolute;
  top: 50%;
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  pointer-events: none;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  transform-origin: 0 0;
  padding: 1rem 0.75rem;
  color: #959595;
}

.floating-label .focus-visible ~ label,
.floating-label .form-control:focus ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

nav.navbar {
  padding: 24px 50px;
  background-color: #f5f5f5;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9;
  box-shadow: 0px 2px 15px -10px rgba(0, 0, 0, 0.5);
  transition: 300ms padding linear;
}

nav.navbar.shrinked {
  padding: 15px 30px;
}

/*Bootstrap override*/

/*Hero Secction*/

section.hero__section {
  padding-top: 150px;
}

.hero__section--textWrapper {
  max-width: 600px;
  margin: 0 auto;
}

.hero__section h1 {
  font-size: 42px;
  font-weight: 800;
}

.hero__section--textWrapper > em {
  color: var(--color-light);
}

.hero__section--textWrapper > div > em {
  font-size: 14px;
  font-weight: 600;
}

/*Hero Secction end*/

/*Feature section*/

.card--wrapper h3.my-4.heading--mediumLow {
  color: var(--color-dark);
}

.card--wrapper p {
  color: var(--color-darkLow);
}

/*Feature section END*/

/*Steps*/

.step-left {
  max-width: 300px;
  width: 100%;
}

/*FAQ*/

.faq__section {
  margin-bottom: 50px;
}

.faq__section ul.nav.nav-tabs {
  justify-content: center;
  border: 0;
}

.faq__section ul.nav.nav-tabs li {
  margin: 0 10px;
}

.faq__section .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 15px 20px;
  background-color: var(--color-lighter);
  color: var(--color-darker);
}

.faq__section .nav-tabs .nav-item.show .nav-link,
.faq__section .nav-tabs .nav-link.active {
  color: var(--color-lighter);
  background-color: var(--color-darker);
  border-color: unset;
  border: 0;
}

.collapsible-data a.card-link {
  color: var(--color-dark);
  font-size: 18px;
  font-weight: 600;
  position: relative;
  display: block;
}

.collapsible-data a.card-link:after {
  position: absolute;
  content: "";
  height: 32px;
  width: 32px;
  background-image: url(./assets/img/up.png);
  background-repeat: no-repeat;
  right: -30px;
}

.collapsible-data a.collapsed.card-link:after {
  background-image: url(./assets/img/down.png);
}

.collapsible-title {
  padding: 20px 30px;
}

.collapsible-data .collapse .card-body,
.collapsible-data .collapsing .card-body {
  border-radius: 15px;
  padding: 20px 30px;
}

.collapsible-data .collapse.show .card-body,
.collapsible-data .collapsing .card-body {
  background-color: var(--color-lighter);
}

/*BLOG*/

.blog-card {
  position: relative;
}

.blog-card:after {
  position: absolute;
  content: "";
  bottom: 0;
  height: 150px;
  background: linear-gradient(
    0deg,
    #0a0a0a 4.6%,
    rgba(10, 10, 10, 0.8) 55.17%,
    rgba(10, 10, 10, 0) 100%
  );
  left: 0;
  right: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.blog--item--content {
  position: absolute;
  bottom: 20px;
  color: #ffffff;
  z-index: 1;
  left: 20px;
  right: 20px;
}

section.footer__section {
  background-color: #121212 !important;
}

footer {
  background-color: #000000;
  padding: 15px;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/*Login Page*/

section.loginSignup__Wrapper {
  max-width: 650px;
  margin: 0 auto;
  width: 100%;
  padding: 150px 20px 0 20px;
}

.header__section {
  border-bottom: 1px solid #dddddd;
}

.seperator {
  text-align: center;
  color: #444444;
  position: relative;
}

.seperator span {
  background-color: #ffffff;
  display: inline-block;
  padding: 0 10px;
  z-index: 1;
  position: relative;
}

.seperator:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  height: 1px;
  background-color: #dddddd;
  top: 11px;
}

/* 
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
 
} */

@media screen and (min-width: 992px) {
  .container {
    max-width: 900;
  }
}

@media screen and (min-width: 768px) {
  .steps__section .sticky-div {
    top: 100px;
    position: sticky;
  }
}

@media screen and (max-width: 768px) {
  nav.navbar {
    padding: 24px 20px;
  }

  nav button.btn {
    background-color: unset !important;
    border: 0;
    padding: 0;
    color: var(--color-primary);
    font-weight: 500;
  }

  nav button.btn.btn-primary {
    font-weight: 600;
  }

  /* nav img {
        width: 220px;
    } */
  .hero__section h1 {
    font-size: 32px;
  }

  .heading--medium {
    font-size: 20px;
  }

  .header__section h2 {
    font-size: 26px;
  }

  .step-left {
    max-width: 100%;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

.fa {
  margin-left: -12px;
  margin-right: 8px;
}

.buttonload {
  background-color: #04aa6d;
  /* Green background */
  border: none;
  /* Remove borders */
  color: white;
  /* White text */
  padding: 12px 24px;
  /* Some padding */
  font-size: 16px;
  /* Set a font-size */
}

.underline-on-hover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.Notification-onHover:hover {
  cursor: pointer;
}

/* .container {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
} */

.DelBtn {
  position: absolute;
  right: -20px;
  z-index: 5;
  top: 0;
}

.Btn-overImage {
  width: 110px;
}

.Btn-overImage .variantimg {
  object-fit: contain;
  border: 1px solid #ddd2d2;
}

.Btn-overImage button {
  position: absolute;
  z-index: 1;
  right: 5px;
  top: -9px;
  border-radius: 50%;
  background-color: #ecebff;
  padding: 0.8rem 1rem;
}

.Image-Btn img {
  position: relative;
}
.Btn-overVideo {
  width: 250px;
}
.Btn-overVideo button {
  position: absolute;
  z-index: 1;
  right: -145px;
  top: 20px;
}

.Image-Video img {
  position: relative;
}

.wrapper {
  width: 330px;
  font-family: "Helvetica";
  font-size: 14px;
}

.cstmtable table tr {
  vertical-align: top;
}

.StepProgress {
  position: relative;
  padding-left: 45px;
  left: 90px;
  top: 101px;
  list-style: none;
}

.StepProgress1 {
  position: relative;
  padding-left: 45px;
  top: 10px;
  list-style: none;
}

.StepProgress::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  width: 10px;
  height: 100%;
  border-left: 2px solid #ccc;
}

.StepProgress-item {
  position: relative;
  counter-increment: list;
}

.StepProgress-item:not(:last-child) {
  padding-bottom: 20px;
}

.StepProgress-item::before {
  display: inline-block;
  content: "";
  position: absolute;
  left: -30px;
  height: 100%;
  width: 10px;
}

.StepProgress-item::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -37px;
  width: 12px;
  height: 12px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}

.StepProgress-item.is-done::before {
  border-left: 2px solid green;
}

.StepProgress-item.is-done::after {
  content: "✔";
  font-size: 10px;
  color: #fff;
  text-align: center;
  border: 2px solid green;
  background-color: green;
}

.StepProgress-item.is-done::before {
  border-left: 2px solid green;
}

.StepProgress-item.is-done::after {
  content: counter(list);
  width: 22px;
  height: 22px;
  top: -4px;
  left: -40px;
  font-size: 14px;
  text-align: center;
  color: green;
  border: 2px solid green;
  background-color: white;
}

strong {
  display: block;
}

.tab-content > .tab-pane:not(.active) {
  display: block;
  height: 0;
  overflow-y: hidden;
}

.Masaction :hover {
  color: #413bbc;
  cursor: pointer;
  text-decoration: underline;
}

/**Topbar changes**/
.inte__Topbar {
  padding: 10px;
  min-height: 36px;
  box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
}

.inte__Sidebar {
  padding: 64px 0 0;
}

.inte__Sidebar--toggle {
  top: 10px;
  height: 45px;
  width: 45px;
}

.inte__Topbar ~ .inte__Main {
  padding: 80px 24px 75px 24px;
}

.inte-grid--Action {
  top: 63px;
}

/* .inte-pageHeader:has(.inte-pageHeader--fixed) .inte-grid--Action{
    top: 144px;
} */
.inte-pageHeader--fixed {
  top: 57px;
}

.inte-dual-ring {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 4px solid;
  border-color: #03dac6 #4fb7da #03dac6 #4fb7da;
  -webkit-animation: inte-dual-ring 0.5s linear infinite;
  animation: inte-dual-ring 0.5s linear infinite;
  border-radius: 50%;
}

@-webkit-keyframes inte-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes inte-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.inte__accordionHeader .inte__cardTitle h3 {
  font-size: 18px;
}

.inte__Popover-Wrapper {
  min-width: 200px;
  max-width: 290px;
  width: max-content;
}

.heading--mediumUp {
  font-size: 3rem !important;
}

.custom_blogcard {
  height: 400px;
  width: 100%;
}

.card_img {
  height: 250px;
  width: 100%;
}

.card_img > img {
  object-fit: cover;
  height: 100%;
}

.blog-card > img {
  object-fit: cover;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 100%;
}

.form-control {
  font-size: 1.5rem;
}

.StepProgress-item.is-done:last-child::before {
  border-left: 0px solid green;
}

.StepProgress:last-child::before {
  border-left: 0px solid #ccc;
}

ul.inte-choiceList--dropdown {
  min-height: 21rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* .inte__Popover-Wrapper {
  right:20px;
  top: 52px;
} */

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  font-size: 1.2rem;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 2.5rem;
  line-height: 3rem;
}

.inte-FilterSheet .react-datepicker-wrapper {
  width: 100%;
}

/* .linechart_jsstyle{
  position:relative;
  width:95%!important;
  max-width:100%!important;
  height:100%!important;
  margin: 0 auto;
  } */
.grigfilter .inte-select ul.inte-select-options {
  min-width: 19rem;
}

.grossselect .inte-select ul.inte-select-options {
  min-width: max-content !important;
}

.gridselect .inte-select ul.inte-select-options {
  min-width:7rem !important;
}

.rdw-editor-main * {
  font-size: unset;
  font-family: revert !important;
  /* font-weight: bold; */
}

.rdw-editor-main h1 {
  font-size: 2em;
  font-weight: bold;
}

.rdw-editor-main h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.rdw-editor-main h3 {
  font-size: 1.17em;
  font-weight: bold;
}

.rdw-editor-main h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.rdw-editor-main h5 {
  font-size: 0.83em;
  font-weight: bold;
}

.rdw-editor-main h6 {
  font-size: 0.67em;
  font-weight: bold;
}

.rdw-editor-main .rdw-right-aligned-block > * {
  text-align: right;
}

.rdw-editor-main .rdw-center-aligned-block > * {
  text-align: center !important;
}

.fileuploadvar {
  position: relative;
  width: 155px;
}

.fileuploadvar > input[type="file"] {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: block;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.fileimage {
  padding: 15px;
  background: #fff;
  border-radius: 15px;
  position: relative;
}
.image_upload{
  width: 155px;
  height:45px;
  position: relative;
  background: #fff;
  cursor: pointer;
}
.image_upload .inte-btn--Outlined{
position: absolute;
width: 100%;
height: 100%;
background: #fff;
padding: 16px 10px;
}
.img_inpt{
  width: 155px;
  height:45px;
  border-radius: 5px;
  opacity: 0;
  cursor: pointer;
}
.inte__table td {
  word-break: break-word;
}
.inte__ToolTip-bubble {
  min-width: 110px!important;

}